<footer
  class="p-6 border-t border-default-200 w-full bg-white dark:bg-default-50 mt-auto print:hidden"
>
  <div class="flex flex-wrap items-center justify-between gap-6">
    <p class="text-default-600 font-semibold lg:text-start text-center">
      <script>
        document.write(new Date().getFullYear());
      </script>
      © SENAI. Todos os direitos reservados.
    </p>
  </div>
</footer>
