<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from coderthemes.com/wb/studyzen/admin-course-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Jan 2025 13:08:57 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>StudyZen - Tailwind Study Client & Admin Manage HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="coderthemes" name="author" />

    <!-- Theme favicon -->
    <link rel="shortcut icon" href="assets/favicon-8fd74f43.ico" />

    <!--&lt;!&ndash; Head js &ndash;&gt;-->

    <script type="module" crossorigin src="assets/theme-e4584917.js"></script>
    <link rel="stylesheet" href="assets/theme-d32f8eb8.css" />
  </head>

  <body>
    <!-- Sidebar -->
    <%- include('partials/sidebar') %>
    <!-- Start Sidebar -->

    <!-- Start Content -->
    <div class="min-h-screen flex flex-col lg:ps-64 w-full">
      <!-- Start Header -->
      <%- include('partials/header') %>
      <!-- End Header -->
      <div class="p-6 space-y-6">
        <div class="flex items-center justify-between w-full print:hidden">
          <h4 class="text-lg font-semibold text-default-900">
            Lista de matérias
          </h4>
        </div>
        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-6">
          <div class="shadow rounded-lg bg-white dark:bg-default-50">
            <div class="p-5">
              <div class="flex items-center justify-between">
                <div>
                  <p class="text-base font-semibold text-default-600">
                    Total de Ucs
                  </p>
                  <h4 class="text-2xl font-semibold text-default-900 mt-4">
                    8
                  </h4>
                </div>
                <span
                  class="shrink h-18 w-18 inline-flex items-center justify-center rounded-lg bg-primary/20 text-primary"
                >
                  <i class="ph ph-chalkboard text-4xl"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="shadow rounded-lg bg-white dark:bg-default-50 h-fit">
          <div class="flex flex-wrap items-center justify-between py-4 px-5">
            <div class="relative flex">
              <input
                type="search"
                class="ps-12 pe-4 py-2.5 block lg:w-64 border-none bg-default-100 text-default-700 rounded-lg text-sm focus:border-primary focus:ring-primary"
                placeholder="Procurar matéria..."
              />
              <span class="absolute start-4 top-2.5">
                <i
                  class="ph-duotone ph-magnifying-glass text-lg text-default-600"
                ></i>
              </span>
            </div>
            <a
              href="admin-course-add.html"
              class="py-2 px-4 inline-flex items-center justify-center font-semibold tracking-wide align-middle duration-500 text-xs text-center bg-primary hover:bg-primary-500 text-white rounded"
              ><i class="ph-duotone ph-plus-circle text-lg/none me-3"></i>
              Adicionar UC
            </a>
          </div>
          <div
            class="border-t border-dashed border-default-200 relative overflow-x-auto"
          >
            <table class="min-w-full">
              <thead class="border-b border-dashed border-default-200">
                <tr>
                  <td class="px-6 py-3 w-10 font-medium text-default-900">
                    <input
                      type="checkbox"
                      class="form-checkbox transition-all duration-100 ease-in-out border-default-200 cursor-pointer rounded focus:ring-0 bg-transparent"
                    />
                  </td>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-sm capitalize font-semibold text-default-900 min-w-32"
                  >
                    Id
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-sm capitalize font-semibold text-default-900 min-w-32"
                  >
                    UC
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-sm capitalize font-semibold text-default-900 min-w-40"
                  >
                    Curso
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-sm capitalize font-semibold text-default-900 min-w-40"
                  ></th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-start text-sm capitalize font-semibold text-default-900 min-w-32"
                  >
                   
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3 text-center text-sm capitalize font-semibold text-default-900 min-w-32"
                  >
                    Ação
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-dashed divide-default-200">
                <tr>
                  <td class="px-6 py-3">
                    <input
                      type="checkbox"
                      class="form-checkbox transition-all duration-100 ease-in-out border-default-200 cursor-pointer rounded focus:ring-0 bg-transparent"
                    />
                  </td>
                  <td
                    class="px-6 py-3 text-default-900 font-semibold whitespace-nowrap"
                  >
                    <b>1</b>
                  </td>
                  <td
                    class="px-6 py-3 text-default-600 font-medium whitespace-nowrap"
                  >
                    Lógica de programação
                  </td>
                  <td
                    class="px-6 py-3 text-default-600 font-medium whitespace-nowrap"
                  >
                    Técnico em informática
                  </td>
                  <td
                    class="px-6 py-3 text-default-600 font-medium whitespace-nowrap"
                  >
                    <span class="inline-flex items-center gap-2 mb-4">
                      
                      
                  </td>
                  <td
                    class="px-6 py-3 text-teal-600 font-medium whitespace-nowrap"
                  >
                    
                  </td>
                  <td
                    class="whitespace-nowrap py-3 px-3 text-center text-sm font-medium"
                  >
                    <div class="flex items-center justify-center gap-2">
                      <a
                        href="admin-course-detail.html"
                        class="inline-flex items-center justify-center h-8 w-8 rounded-md bg-primary-500/20 text-primary-500 transition-all duration-200 hover:bg-primary-500 hover:text-white"
                      >
                        <i class="ph-duotone ph-eye text-base"></i>
                      </a>
                      <a
                        href="admin-course-edit.html"
                        class="inline-flex items-center justify-center h-8 w-8 rounded-md bg-cyan-500/20 text-cyan-500 transition-all duration-200 hover:bg-cyan-500 hover:text-white"
                      >
                        <i
                          class="ph-duotone ph-pencil-simple-line text-base"
                        ></i>
                      </a>
                      <button
                        class="inline-flex items-center justify-center h-8 w-8 rounded-md bg-red-500/20 text-red-500 transition-all duration-200 hover:bg-red-500 hover:text-white"
                      >
                        <i class="ph-duotone ph-trash text-base"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="px-6 py-3">
                    <input
                      type="checkbox"
                      class="form-checkbox transition-all duration-100 ease-in-out border-default-200 cursor-pointer rounded focus:ring-0 bg-transparent"
                    />
                  </td>
                  <td
                    class="px-6 py-3 text-default-900 font-semibold whitespace-nowrap"
                  >
                    <b>2</b>
                  </td>
                  <td
                    class="px-6 py-3 text-default-600 font-medium whitespace-nowrap"
                  >
                    Técnicas de programação
                  </td>
                  <td
                    class="px-6 py-3 text-default-600 font-medium whitespace-nowrap"
                  >
                  Técnico em informática	
                  </td>
                  <td
                    class="px-6 py-3 text-default-600 font-medium whitespace-nowrap"
                  >
                    <span class="inline-flex items-center gap-2 mb-4">
                      
                      
                  </td>
                  <td
                    class="px-6 py-3 text-amber-600 font-medium whitespace-nowrap"
                  >
                    
                  </td>
                  <td
                    class="whitespace-nowrap py-3 px-3 text-center text-sm font-medium"
                  >
                    <div class="flex items-center justify-center gap-2">
                      <a
                        href="admin-course-detail.html"
                        class="inline-flex items-center justify-center h-8 w-8 rounded-md bg-primary-500/20 text-primary-500 transition-all duration-200 hover:bg-primary-500 hover:text-white"
                      >
                        <i class="ph-duotone ph-eye text-base"></i>
                      </a>
                      <a
                        href="admin-course-edit.html"
                        class="inline-flex items-center justify-center h-8 w-8 rounded-md bg-cyan-500/20 text-cyan-500 transition-all duration-200 hover:bg-cyan-500 hover:text-white"
                      >
                        <i
                          class="ph-duotone ph-pencil-simple-line text-base"
                        ></i>
                      </a>
                      <button
                        class="inline-flex items-center justify-center h-8 w-8 rounded-md bg-red-500/20 text-red-500 transition-all duration-200 hover:bg-red-500 hover:text-white"
                      >
                        <i class="ph-duotone ph-trash text-base"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="flex items-center justify-between py-3 px-6 border-t border-dashed border-default-200"
          >
            <h6 class="text-default-600">Mostrando 1 de 5</h6>

            <nav class="flex items-center gap-1">
              <a
                class="inline-flex items-center justify-center h-8 w-8 border border-default-200 rounded-md text-default-950 transition-all duration-200 hover:bg-primary hover:text-white hover:border-primary"
                href="#"
              >
                <i class="ph ph-caret-left text-base"></i>
              </a>
              <a
                class="inline-flex items-center justify-center h-8 w-8 border rounded-md transition-all duration-200 bg-primary text-white border-primary"
                href="#"
                aria-current="page"
                >1</a
              >
              <a
                class="inline-flex items-center justify-center h-8 w-8 border border-default-200 rounded-md text-default-950 transition-all duration-200 hover:bg-primary hover:text-white hover:border-primary"
                href="#"
                >2</a
              >
              <a
                class="inline-flex items-center justify-center h-8 w-8 border border-default-200 rounded-md text-default-950 transition-all duration-200 hover:bg-primary hover:text-white hover:border-primary"
                href="#"
                >...</a
              >
              <a
                class="inline-flex items-center justify-center h-8 w-8 border border-default-200 rounded-md text-default-950 transition-all duration-200 hover:bg-primary hover:text-white hover:border-primary"
                href="#"
                >12</a
              >
              <a
                class="inline-flex items-center justify-center h-8 w-8 border border-default-200 rounded-md text-default-950 transition-all duration-200 hover:bg-primary hover:text-white hover:border-primary"
                href="#"
              >
                <i class="ph ph-caret-right text-base"></i>
              </a>
            </nav>
          </div>
        </div>
      </div>

      <%- include('partials/footer') %>
    </div>
  </body>
</html>
