<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro - Simulação Saep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Cadastro de usuário no StudyZen" name="description" />
    <meta content="coderthemes" name="author" />

    <!-- Theme favicon -->
    <link rel="shortcut icon" href="assets/favicon-8fd74f43.ico" />

    <!-- Theme CSS -->
    <script type="module" crossorigin src="assets/theme-e4584917.js"></script>
    <link rel="stylesheet" href="assets/theme-d32f8eb8.css" />

    <!-- Choices.js CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
  </head>

  <body
    class="relative lg:h-screen py-6 flex justify-center items-center bg-auto bg-no-repeat bg-primary/10"
    style="background-image: url('assets/auth-bg-f57aaf4d.png')"
  >
    <div class="container">
      <div class="flex justify-center">
        <div class="lg:w-1/3 md:w-2/3 w-full relative">
          <div
            class="relative bg-white rounded-lg shadow-lg p-6 z-10 dark:bg-default-50"
          >
            <a href="index.html" class="block mb-8 text-center">
              <img
                class="h-12 dark:hidden mx-auto"
                src="assets/saep.png"
                alt="Logo StudyZen"
              />
            </a>

            <h4
              class="text-2xl font-semibold text-default-800 mb-2 text-center"
            >
              Cadastro
            </h4>

            <% if (message) { %>
            <div class="alert alert-danger text-center"><%= message %></div>
            <% } %>

            <form action="/registro" method="POST">
              <div class="mb-4">
                <label
                  for="username"
                  class="block text-base font-semibold text-default-900 mb-2"
                  >Usuário</label
                >
                <input
                  type="text"
                  class="block w-full rounded py-2.5 px-4 bg-transparent border-default-200 text-default-900 focus:outline-0 focus:ring-0"
                  id="username"
                  name="username"
                  placeholder="Digite seu usuário"
                  required
                />
              </div>

              <div class="mb-4">
                <label
                  for="matricula"
                  class="block text-base font-semibold text-default-900 mb-2"
                  >Matrícula</label
                >
                <input
                  type="text"
                  class="block w-full rounded py-2.5 px-4 bg-transparent border-default-200 text-default-900 focus:outline-0 focus:ring-0"
                  id="matricula"
                  name="matricula"
                  placeholder="Digite a sua matrícula"
                  required
                />
              </div>

              <div class="mb-4">
                <label
                  for="courses"
                  class="block text-base font-semibold text-default-900 mb-2"
                  >Professor nos cursos de:</label
                >
                <select
                  class="choices__input"
                  id="choices-multiple-default"
                  name="courses[]"
                  multiple
                >
                  <option value="Informática">Informática</option>
                  <option value="Eletrotécnica">Eletrotécnica</option>
                  <option value="Mecânica">Mecânica</option>
                  <option value="Administração">Administração</option>
                  <option value="Segurança do Trabalho">
                    Segurança do Trabalho
                  </option>
                </select>
              </div>

              <div class="mb-4">
                <label
                  for="email"
                  class="block text-base font-semibold text-default-900 mb-2"
                  >E-mail</label
                >
                <input
                  type="email"
                  class="block w-full rounded py-2.5 px-4 bg-transparent border-default-200 text-default-900 focus:outline-0 focus:ring-0"
                  id="email"
                  name="email"
                  placeholder="Digite seu e-mail"
                  required
                />
              </div>

              <div class="mb-4">
                <label
                  for="password"
                  class="block text-base font-semibold text-default-900 mb-2"
                  >Senha</label
                >
                <div class="flex" data-x-password="">
                  <input
                    type="password"
                    id="password"
                    class="form-password text-default-900 block w-full rounded-s py-2.5 px-4 bg-transparent border border-default-200 focus:ring-transparent -me-px"
                    name="password"
                    placeholder="Digite sua senha"
                    required
                  />
                  <button
                    type="button"
                    id="password-addon"
                    class="password-toggle inline-flex items-center justify-center py-2.5 px-4 border rounded-e bg-transparent border-default-200"
                  >
                    <i
                      data-lucide="eye"
                      class="password-eye-on h-5 w-5 text-default-600"
                    ></i>
                    <i
                      data-lucide="eye-off"
                      class="password-eye-off h-5 w-5 text-default-600 hidden"
                    ></i>
                  </button>
                </div>
              </div>

              <button
                type="submit"
                class="relative inline-flex items-center justify-center px-6 py-3 rounded text-base bg-primary text-white capitalize transition-all hover:bg-primary-500 w-full"
              >
                Cadastrar
              </button>
            </form>

            <h4 class="text-center text-base text-default-700 mt-6">
              Já tem uma conta?
              <a href="/login" class="text-primary">Faça login</a>
            </h4>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const element = document.getElementById("choices-multiple-default");
        const choices = new Choices(element, {
          removeItemButton: true,
          placeholderValue: "Selecione os cursos",
          searchEnabled: true,
          noResultsText: "Nenhum curso encontrado",
        });
      });
    </script>
  </body>
</html>
