<div
  id="application-sidebar"
  class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform hidden fixed inset-y-0 start-0 lg:z-30 z-60 w-64 bg-white border-e border-default-200 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 dark:bg-default-50 rtl:hs-overlay-open:translate-x-0 rtl:translate-x-full rtl:lg:translate-x-0 print:hidden"
>
  <div
    class="flex sticky top-0 items-center justify-center px-6 h-18 border-b border-dashed border-default-200"
  >
    <a href="/dashboard">
      <img src="/assets/saep.png" alt="logo" class="h-9 flex dark:hidden" />
      <img
        src="/assets/logo-light-43c180d2.png"
        alt="logo"
        class="h-9 hidden dark:flex"
      />
    </a>
  </div>

  <div class="h-[calc(100%-72px)] p-4" data-simplebar>
    <ul class="admin-menu w-full flex flex-col gap-1.5">
      <li class="menu-item">
        <a
          class="flex items-center gap-x-3.5 py-3 px-5 text-sm font-medium text-default-700 rounded-md transition-all hover:bg-default-100"
          href="/admin/dashboard"
        >
          <i class="ph-duotone ph-gauge text-xl"></i>
          Dashboard
        </a>
      </li>
      <li class="menu-item">
        <a
          class="flex items-center gap-x-3.5 py-3 px-5 text-sm font-medium text-default-700 rounded-md transition-all hover:bg-default-100"
          href="/turmas"
        >
          <i class="ph-duotone ph-graduation-cap text-xl"></i>
          Turmas
        </a>
      </li>
      <li class="menu-item">
        <a
          class="flex items-center gap-x-3.5 py-3 px-5 text-sm font-medium text-default-700 rounded-md transition-all hover:bg-default-100"
          href="/aluno"
        >
          <i class="ph-duotone ph-student text-xl"></i>
          Alunos
        </a>
      </li>
      <li class="menu-item">
        <a
          class="flex items-center gap-x-3.5 py-3 px-5 text-sm font-medium text-default-700 rounded-md transition-all hover:bg-default-100"
          href="/materias"
        >
          <i class="ph-duotone ph-books text-xl"></i>
          UC
        </a>
      </li>
      <li class="menu-item">
        <a
          class="flex items-center gap-x-3.5 py-3 px-5 text-sm font-medium text-default-700 rounded-md transition-all hover:bg-default-100"
          href="/questao"
        >
          <i class="ph-duotone ph-question text-xl"></i>
          Questões
        </a>
      </li>
      <li class="menu-item">
        <a
          class="flex items-center gap-x-3.5 py-3 px-5 text-sm font-medium text-default-700 rounded-md transition-all hover:bg-default-100"
          href="/simulados"
        >
          <i class="ph-duotone ph-exam text-xl"></i>
          Simulados
        </a>
      </li>
    </ul>
  </div>
</div>
