<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>404 - Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/favicon-8fd74f43.ico" />
    <script
      type="module"
      crossorigin
      src="../assets/theme-e4584917.js"
    ></script>
    <link rel="stylesheet" href="../assets/theme-d32f8eb8.css" />
    <style>
      body {
        background-image: url("/assets/auth-bg-f57aaf4d.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: #f0f0f0;
      }
      .error-container {
        text-align: center;
        padding: 20px;
      }
      .error-container img {
        max-width: 100%;
        height: auto;
      }
      .error-container h1 {
        font-size: 2rem;
        margin: 20px 0 10px;
        color: #333;
      }
      .error-container p {
        font-size: 1rem;
        margin-bottom: 20px;
        color: #666;
      }
      .error-container a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      .error-container a:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="error-container">
      <img src="../assets/error-404-6c5960b9.png" alt="Error 404" />
      <h1
        class="text-3xl font-semibold text-default-800 dark:text-default-100 mb-4"
      >
        404 - página não encontrada
      </h1>
      <p>A página que você solicitou não foi encontrada.</p>
      <a href="/aluno/login">Voltar para a Home</a>
    </div>
  </body>
</html>
