<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Redefinir Senha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/favicon-8fd74f43.ico" />
    <script
      type="module"
      crossorigin
      src="../assets/theme-e4584917.js"
    ></script>
    <link rel="stylesheet" href="../assets/theme-d32f8eb8.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <style>
      body {
        background-image: url("/assets/auth-bg-f57aaf4d.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .logo-img {
        max-width: 70%;
        height: auto;
      }
    </style>
  </head>
  <body class="relative lg:h-screen py-6 flex justify-center items-center">
    <div class="container">
      <div class="flex justify-center">
        <div class="lg:w-1/3 md:w-2/3 w-full">
          <div class="bg-white rounded-lg shadow-lg p-6">
            <a href="/" class="block mb-8 text-center">
              <img
                class="logo-img mx-auto"
                src="../assets/saep.png"
                alt="Logo saep"
              />
            </a>
            <h4 class="text-2xl font-semibold text-center mb-4">
              Redefinir Senha
            </h4>
            <p class="text-center mb-6">Digite sua nova senha abaixo.</p>

            <form action="/recuperar-senha/confirma" method="POST">
              <div class="mb-4">
                <label for="newPassword" class="block font-semibold mb-2"
                  >Nova Senha</label
                >
                <input
                  type="password"
                  id="newPassword"
                  name="newPassword"
                  class="w-full rounded border px-4 py-2"
                  placeholder="••••••••"
                  required
                />
              </div>
              <div class="mb-4">
                <label for="confirmPassword" class="block font-semibold mb-2">
                  Confirmar Senha
                </label>
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  class="w-full rounded border px-4 py-2"
                  placeholder="••••••••"
                  required
                />
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="px-6 py-3 bg-primary text-white rounded hover:bg-primary-500"
                >
                  Redefinir Senha
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (message) { %>
    <script>
      Swal.fire({
        icon: "error",
        title: "Atenção",
        text: "<%= message %>",
      });
    </script>
    <% } %> <% if (success) { %>
    <script>
      Swal.fire({
        icon: "success",
        title: "Pronto!",
        text: "Senha alterada com sucesso.",
      }).then(() => {
        window.location.href = "/admin/login";
      });
    </script>
    <% } %>
  </body>
</html>
